botocore==1.20.111
certifi==2021.5.30
chardet==4.0.0
idna==2.10
jmespath==0.10.0
python-dateutil==2.8.1
requests==2.25.1
robotframework==4.0.3
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.6
robotframework-reportportal==5.2.0
reportportal-client==5.0.12
awscli==1.19.111
pandas==1.5.3
pyodbc~=4.0.35
SQLAlchemy~=2.0.7